/* General Styles */
html {
  min-height: 100%;
}

:root {
  --primary-color: #51538c;
  --dark-color: #000;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
  position: relative;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

ul {
  list-style: none;
}

.padding{
  padding-top: 8rem;
}

/* Utilities */
.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 2rem;
}

.container h1 {
  text-align: center;
}

/* Font Styles*/
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--primary-color);
}

.text-white {
  color: #fff;
}

.text-dark {
  color: var(--dark-color);
}

/* Padding */
.p {
  padding: 0.5rem;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
.py {
  padding: 0.5rem 0;
}
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}

/* Margin */
.m {
  margin: 0.5rem;
}
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}
.m-3 {
  margin: 3rem;
}
.my {
  margin: 0.5rem 0;
}
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}

.btn {
  display: flex;
  flex-direction: row;
  background: var(--light-color);
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  border-radius: 5%;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
  margin: 0.2rem;
}

a.btn {
  display: inline-block;
}

.badge {
  font-size: 0.8rem;
  padding: 0.1rem;
  text-align: center;
  margin: 0.3rem;
  background: var(--light-color);
  color: #333;
}

.alert-container {
  text-align: center;
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 11%;
  right: 5%;
  width: 90%;
  z-index: 10;
}

.alert {
  margin: 0.1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
  align-items: center;
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
  background: #333;
  color: #fff;
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
  background: var(--success-color);
  color: #fff;
}

.btn-white,
.bg-white,
.badge-white,
.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}

.btn:hover {
  opacity: 0.8;
}

.bg-light,
.badge-light {
  border: #ccc solid 1px;
}

.round-img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.line {
  height: 1px;
  background: #ccc;
  margin: 1.5rem 0;
}

.register, .login {
  position: relative;
  margin: 0 auto;
  max-width: 50%;
  text-align: center;
}

.register .btn, 
.login .btn {
  margin: 0 auto;
}

.register input, 
.login input {
  border-radius: 10px;
}

/* Forms */
.create-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form .form-group {
  margin: 1.2rem 0;
}

.form .form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

.form input[type='text'],
.form input[type='email'],
.form input[type='password'],
.form input[type='date'],
.form select,
.form textarea {
  display: block;
  font-size: 1.2rem;
}

.form input[type='submit'],
button {
  font: inherit;
}

.form .social-input {
  display: flex;
  padding: 0.5rem;
}

.form .social-input svg {
  margin-right: 1rem; 
}

.twitter .MuiSvgIcon-root {
  color: #38a1f3;
}
.facebook .MuiSvgIcon-root {
  color: #3b5998;
}
.instagram .MuiSvgIcon-root {
  color: #d144b7;
}
.youtube .MuiSvgIcon-root {
  color: #c4302b;
}
.linkedin .MuiSvgIcon-root {
  color: #0077b5;
}

.table {
  max-width: 80%;
}

.table th,
.table td {
  padding: 1rem;
  text-align: left;
  border-radius: 10px;
}

.table th {
  background: var(--light-color);
}

.empty-th {
  background: #fff !important;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  opacity: 0.9;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 0.45rem;
  margin: 0 0.25rem;
}

.navbar a:hover {
  color: var(--primary-color);
}

.navbar .welcome span {
  margin-right: 0.6rem;
}

.logo {
  width: 20px;
}

/* Landing Page */
.background {
  background: url(./img/background.png) no-repeat center center/contain;
  background-color: #06081b;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.color-box {
  will-change: width, height, left, top;
  position: absolute;
}

.landing-inner {
  color: #fff;
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 3rem;
}

.buttons {
  padding-top: 5rem;
}

.btn-login {
  display: inline-block;
  background-color: rgb(74, 25, 79);
  color: #fff;
  font-weight: bold;
}

.btn-register {
  display: inline-block;
  background-color: rgb(199, 199, 199);
  color:  rgb(74, 25, 79);
  font-weight: bold;
}

.btn-login:hover, .btn-register:hover {
  transform: scale(1.1);
  transition: 0.2s;
}

/* Profiles Page */
.profiles{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.main-profile {
  line-height: normal;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: calc(100% / 3 - 20px);
  align-items: center;
  background: #222;
  border-radius: 10px;
  color: #fff;
}

.profile-container div {
  display: flex;
  align-items: center;
}

.main-profile:hover {
  background: #000;
  transform: scale(1.05);
  transition: all 0.5s ease-in;
}

.profile {
  text-align: center;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 0.5fr 0.5fr;
  align-items: center;
  justify-items: center;
}

.interests {
  grid-row: 2/ span 1;
  grid-column: 1/ span 2;
  color: rgb(143, 46, 154);
  border: 1px solid rgb(143, 46, 154);
  border-radius: 50%;
  padding: 10px;
  margin-bottom: 10px;
}

.view-profile {
  grid-row: 3/ span 1;
  grid-column: 1/ span 2;
}

.view-profile a {
  background-color: rgb(74, 25, 79);
}

.profile-at {
  font-size: 0.7rem;
  color: #d3d3d3;
}

.profile-location {
  padding-top: 0.5rem;
}

.main-profile img {
  height: 100px;
}

.profile-hr {
  background-color: #51538c;
  border: 0.1px solid #51538c;
  width: 25%;
}

.load-more {
  display: flex; 
  justify-content:center;
  margin-top: 2rem;
}

/* Profile Page */
.profile-grid {
  /* display: grid; */
  display: flex;
  grid-template-areas:
    'top top'
    'about about'
    'exp edu';
  grid-gap: 1rem;
}

.profile-top {
  grid-area: top;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  padding-top: 10px;
}

.profile-top h1 {
  margin: 0;
}

.profile-top img {
  width: 200px;
  height: 200px;
}

.profile-top .icons a {
  color: #fff;
  margin: 0 0.3rem;
}

.profile-top .icons a:hover {
  color: var(--primary-color);
}

.profile-about {
  grid-area: about;
  text-align: center;
  border-radius: 10px;
  max-width: 40vw;
  min-width: 30vw;
}

.profile-about .skills {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.profile-exp {
  grid-area: exp;
  overflow: auto;
  max-height: 40vh;
  min-height: 40vh;
  border-radius: 4px;
  border-radius: 10px 4px 4px 10px;
}

.profile-edu {
  grid-area: edu;
  overflow: auto;
  max-height: 40vh;
  min-height: 40vh;
  border-radius: 10px 4px 4px 10px;
}

/* For firefox */
.profile-exp, .profile-edu {
  scrollbar-width: thin;
  scrollbar-color: #ccc #fff;
}

/* For other browsers */
.profile-exp::-webkit-scrollbar, 
.profile-edu::-webkit-scrollbar, 
.post-text::-webkit-scrollbar {
  width: 5px;
}
.profile-exp::-webkit-scrollbar-track, 
.profile-edu::-webkit-scrollbar-track,
.post-text::-webkit-scrollbar-track {
  border-radius: 10px;
}
.profile-exp::-webkit-scrollbar-thumb, 
.profile-edu::-webkit-scrollbar-thumb,
.post-text::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

.profile-exp::-webkit-scrollbar-thumb:hover, 
.profile-edu::-webkit-scrollbar-thumb:hover,
.post-text::-webkit-scrollbar-thumb:hover {
  background: #999;
}

.profile-exp h2,
.profile-edu h2 {
  margin-bottom: 1rem;
}

.profile-exp > div,
.profile-edu > div {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: #ccc 1px dotted;
}

.profile-exp > div:last-child,
.profile-edu > div:last-child {
  border: 0;
}

.profile-exp p,
.profile-edu p {
  margin: 0.5rem 0;
}

.social-input svg {
  height: auto;
}

svg {
  vertical-align: middle;
}

.location-icon {
  color: var(--primary-color);
}

/* Posts Page */
.post-form, .posts-title {
  margin: 0 1rem;
}

.post-form input {
  margin: 10px auto 0;
}

.post-form .post-form-header {
  background: var(--primary-color);
  padding: 0.5rem;
}

.comment-date {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.comment-delete {
  display: inline;
  margin: 0 10px;
  padding: 0 10px;
}

.post-form textarea {
  border-radius: 10px;
  border: none;
}

.post-form h3 {
  color: var(--primary-color)
}

.posts-content {
  border: 1px solid #ccc;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.post-buttons {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  background: #333;
  border-radius: 10px;
}

.post-buttons a:hover, .post-buttons button:hover {
  transform: scale(1.2);
}

.post-buttons a {
  background: rgb(74, 25, 79);
}

.post-buttons a:hover {
  background: rgb(143, 46, 154);
}

.like {
  color: rgb(70, 171, 70);
  background: rgb(70, 171, 70, 0.5);
}

.unlike {
  color: rgb(164, 72, 72);
  background: rgb(164, 72, 72, 0.5);
}

.like:hover {
  color: lime;
  background: rgb(70, 171, 70);
  opacity: 1;
}

.unlike:hover {
  color: red;
  background: rgb(164, 72, 72);
  opacity: 1;
}

.post {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.post > div:first-child {
  text-align: center;
}

.post img {
  width: 100px;
}

.post-profile{
  background: #000;
  border-radius: 10px;
  padding: 1rem 0;
}

.post-profile h4 {
  color: #fff;
}

.post-profile h4:hover {
  color: var(--primary-color);
}

.post .comment-count {
  background: var(--light-color);
  color: var(--primary-color);
  padding: 0.1rem 0.3rem;
  margin-left: 0.5rem;
  border-radius: 5px;
  font-size: 0.8rem;
}

.post .post-date {
  color: #aaa;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

.posts-inner {
  margin-left: 1rem;
}

.post-text {
  overflow: auto;
  max-height: 50vh;
}

.post-text.comment {
  overflow: auto;
  max-height: 20vh;
}

.page-buttons {
  background: #333;
  width: fit-content;
  border-radius: 10px;
  margin: 0 auto;
}

.page-button {
  cursor: pointer;
  background: #333;
  color: #fff;
  border-radius: 25%;
  border: none;
  margin: 5px;
  padding: 0 0.7rem;
  margin: 0 0.5rem;
  opacity: 0.8;
}

.page-button:hover {
  opacity: 1;
  background: rgb(74, 25, 79, 0.5);
  transform: scale(1.3);
}

.selected-page {
  background: rgb(74, 25, 79);
  transform: scale(1.3);
  opacity: 1;
}

.selected-page:hover {
  background: rgb(74, 25, 79);
  transform: scale(1.3);
  opacity: 1;
}

/* Dashboard */
.dashboard {
  display: flex;
  margin: 0 3rem;
}

.create-img {
  width: 250px;
  align-self: center;
  margin-top: 3rem;
}

.dash-left {
  text-align: center;
  align-items: center;
  display: flex;
  height: 100%;
  flex-direction: column;
  width: 30%;
  position: sticky !important;
  top: 10%;
}

.dash-right {
  display: flex;
  flex-direction: column;
  width: 70%;
  align-items: center;
  margin: 0 auto;
}

.dash-right-main {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
  align-items: center;
}

.dash-right-main div {
  margin-left: 10%;
}

.dash-right form {
  width: 70%;
}

.dash-right p {
  width: 70%;
}

.dash-right h2 {
  margin: 0 3rem;
  align-self: flex-start;
}

.dash-buttons {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: #333;;
  width: 200px;
}
.dash-button {
  padding: 1rem 1.3rem;
  text-align: justify;
}

.dash-btn {
  padding: 0.5rem 0;
  margin: 0;
  border-radius: 10px;
}

.dash-picture {
  border-radius: 10px;
  max-width: 200px;
  display: block;
  margin-bottom: 1rem;
}

.MuiFab-primary {
  background: var(--primary-color) !important;
}

/* Not Found Page */
.not-found {
  text-align: center;
  width: 100% !important;
}

/* Footer */
.footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 0.7rem 2rem;
  z-index: 1;
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.footer a {
  color: #fff;
}

.footer a:hover {
  color: var(--primary-color);
}

.footer-links a {
  padding: 0 1rem;
}

.copyright-text, .copyright-text a {
  font-size: 12px;
  color: rgb(182, 182, 182);
}

.vp {
  color: teal !important;
}

.vp:hover {
  color: cyan !important;
}

/* Mobile Styles */
@media (max-width: 900px) {
  /* Text Styles */
  .x-large {
    font-size: 3rem;
  }

  .large {
    font-size: 2rem;
  }

  .lead {
    font-size: 1rem;
  }
  
  .hide-md {
    display: none;
  }

  .container {
    padding: 0 5px;
  }

  .table td{
    padding: 0;
  }

  /* Register and login pages */
  .register, .login {
    max-width: 75%;
  }

  /* Navbar */
  .navbar {
    text-align: center;
    padding: 0.3rem 1rem;
  }

  .navbar ul {
    text-align: center;
    justify-content: center;
  }

  .navbar h1 {
    font-size: 1rem;
  }

  .navbar .welcome {
    display: none;
  }

  /* Profiles Page */
  .profiles {
    flex-direction: row;
  }

  .main-profile {
    width: calc(100% / 2 - 20px);
  }
  
  /* Profile Page */
  .profile-top img {
    width: 200px;
    margin: auto;
  }

  .profile-grid {
    display: grid;
    grid-template-areas:
      'top'
      'about'
      'exp'
      'edu';
  }

  .profile-about .skills {
    flex-direction: row;
  }

  .profile-about {
    max-width: none;
  }

  .profile-exp, .profile-edu {
    min-height: 0;
  }

  .dash-left {
    padding-right: 10px;
  }

  .dash-right {
    align-items: normal;
    width: 80%;
    text-align: center;
  }

  .dash-right h2 {
    margin: 0;
    align-self: flex-start;
  }

  .dash-buttons a {
    border-radius: 10px;
    display: block;
    margin-bottom: 0.2rem;
  }

  .dash-buttons {
    width: 90%;
  }

  .dash-left .dash-buttons .btn {
    margin: 0 !important;
  }

  .dash-picture {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 1rem;
  }

  .dash-btn {
    font-size: 0.7rem;
  }

  .dashboard .btn {
    margin: 0 auto;
  }

  .dashboard input.btn {
    margin-bottom: 10px !important;
    padding: 20px;
  }

  .copyright-text a {
    padding: 0 !important;
  }

}

@media (max-width: 550px) {

   /* Register and login pages */
   .register, .login {
    max-width: 90%;
  }

  .hide-sm {
    display: none;
  }

  .container {
    padding: 0 5px;
  }
  
  /* Profiles Page */
  .profiles {
    flex-direction: row;
  }

  .profile-grid .p-2 {
      padding: 0.5rem;
  }

  .main-profile {
    width: calc(100% / 1 - 20px);
  }

  .post {
    display: grid;
    grid-template-columns: 1fr;
  }

  .post-text {
    overflow: auto;
    max-height: 50vh;
  }

  .post-text.comment {
    overflow: auto;
    max-height: 30vh;
  }

  .post-buttons {
    justify-content: space-evenly;
  }

  .post a,
  .post button {
    padding: 0.3rem 0.4rem;
  }

  .table td{
    padding: 0;
  }

  .dashboard {
    margin: 0;
    font-size: 0.8rem;
  }

  .footer a {
    padding: 5px;
    font-size: 0.8rem;
  }

  .dash-right form {
    width: 80%;
  }

  .dash-right-main div {
    margin-left: 0 !important;
  }

  .table {
    max-width: none !important;
  }

  .dash-right .btn {
    padding: 0.4rem .3rem;
  }

  .form .social-input {
    display: block;
    padding: 0;
  }

  .footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}